<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog Time!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="./assets/favicon/favicon.ico" type=“image/x-icon”/>
  <link rel=“shortcut icon” href=“favicon.ico” type=“image/x-icon”>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img">🖥️</span>
        <span>Welcome to the Tech Blog!</span>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/">Homepage</a> | <a href="/dashboard">Dashboard</a> | 
        <button class="no-button" id="logout">Log Out</button>
        {{else}}
        <a href="/">Homepage</a> | <a href="/login">Dashboard</a> | <a href="/login">Log In</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
